/*************************
 *  your code goes here  *

 To make my Syles multi browser compatible I used prefixes where necessary
 https://autoprefixer.github.io/ was used to make sure I only added what was needed
 *************************/

.bx-step-active {
  background-color: #ffc216;
  padding: 0.8em;
}
img {
  width: 35%;
  margin-top: .65%
}

.bx-row-submit input {
  border: none !important;
  width: 58% !important;
  /* border: 1px solid #1a3b72; */
  font-size: 140%;
  height: 2em;
  font-weight: lighter;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  background-color: #000066;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2553a0),
    to(#000066)
  );
  background-image: -webkit-linear-gradient(top, #2553a0, #000066);
  background-image: -moz-linear-gradient(top, #2553a0, #000066);
  background-image: -ms-linear-gradient(top, #2553a0, #000066);
  background-image: -o-linear-gradient(top, #2553a0, #000066);
  background-image: linear-gradient(to bottom, #2553a0, #000066);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2553A0, endColorstr=#000066);
}

.bx-row-submit input:hover {
  border: 0px solid #12284d;
  background-color: #000764;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1b3e77),
    to(#000764)
  );
  background-image: -webkit-linear-gradient(top, #1b3e77, #000764);
  background-image: -moz-linear-gradient(top, #1b3e77, #000764);
  background-image: -ms-linear-gradient(top, #1b3e77, #000764);
  background-image: -o-linear-gradient(top, #1b3e77, #000764);
  background-image: linear-gradient(to bottom, #1b3e77, #000764);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00235f, endColorstr=#000764);
}

.shadowBox {
  width: 5%;
  -webkit-box-shadow: 0 6px 4px -4px gray;
  box-shadow: 0 6px 4px -4px gray;
}

.bx-group-1 {
  /* margin-top: 5% */
  color: #000066;
  margin-bottom: 6%;

}
/* join Lufthansa */
.bx-row-subheadline {
  /* line-height: 4%; */
  font-size: 88%;
  font-weight: lighter;
  margin-top: 6.33%;
  margin-bottom: -10px;
  letter-spacing: -.45px
}

/* unlock exlusive */
.bx-row-headline-1 {
  font-size: 222%;
  font-weight: bolder;
  line-height: 135%;
  /* letter-spacing: -1.8px */
  letter-spacing: -1.0px
}

/* flight offers */
.bx-row-headline-2 {
  font-size: 324%;
  font-weight: bolder;
  line-height: 12%;
  margin-top: 10%;
  letter-spacing: -1.7px
  /* margin-bottom: 40% */
}

.bx-group-2 {
  /* margin-top: 5% */
  margin-bottom: 7%;
}

.bx-row-email input {
  height: 0.1em !important;
  width: 58% !important;
  /* border: none !important; */
  border: 1.8px solid  rgba(148, 148, 148, 0.233) !important;
  border-style: inset;
  font-weight: lighter;
}

input {
  text-align: center;
  /* -webkit-box-shadow: inset 0 0 10px gray;
  box-shadow: inset 0 0 7px gray; */

  -webkit-box-shadow: 0 6px 4px -4px gray;
  box-shadow: 0 6.5px 4px -4px rgba(87, 87, 87, 0.582);
}

input[type='email'] {
  font-size: 75%;
  font-weight: lighter;
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(53, 53, 53, 0.322);
  /* opacity: 1; Firefox */
}

bx-row{
}
